@use'../abstracts/'as *;
@use'./typo';
@use '../components/' as *;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontStack;
  font-size: $fontSize;
}

body{
  width: 100%;
  min-height: 100vh;
  @include grid(center);
  background-color: $bgColor;
}

.container{
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  padding: 0 2.5rem;
  @include grid(center);
  position: relative;

  :before,
  ::after{
    content: '';
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -1;


  }
  :before{
    top:-30%;
    left: -50%;
    background: $bgColor url(/images/bg-pattern-top.svg) top center no-repeat;
    background-size: contain;

  }

  ::after{
    bottom:10%;
    right: -50%;
    background: $bgColor url(/images/bg-pattern-bottom.svg) bottom center no-repeat;
    background-size: contain;

  }
}

@media (min-width:$tablet){
  .container ::before{
    top: -35%;
    left: -50%;
  }
  .container ::after{
    bottom: -15%;
    right: -50%;
  }


}
@media (min-width:$largeScreen){
  .container ::before{
    top: -60%;
    left: -30%;
  }
  .container ::after{
    bottom: -40%;
    right: -25%;
  }


}