@use'../abstracts/' as *;

h3{
  font-size: 1.8rem;
  font-weight:700;
  color:$textBoldColor;
}

small{
  font-weight: 300;
  color:$textSmallColor;
}

strong{
  font-weight: 700;
  color:$textBoldColor;
}