$bgColor:rgba(25, 161, 174, 1.0 );
$bgSeparatorColor:rgba(232, 233, 236, 1.0 );
$textBoldColor:rgba(46,51, 73, 1.0);
$textSmallColor:rgba(107, 112, 130, 1.0);
$attLinksColor:	rgba(62, 82, 163, 1.0);

$boxShadow: 0px 5px 10px 5px rgba(0,0,0,0.2);
$borderRadius:1.5rem;