$bgColor:hsl(185, 75%, 39%);
$bgSeparatorColor:hsl(0, 0%, 59%);
$textBoldColor:hsl(229, 23%, 23%);
$textSmallColor:hsl(227, 10%, 46%);
$attLinksColor:		hsl(228, 45%, 44%);

$boxShadow: 0px 5px 10px 5px rgba(0,0,0,0.2);
$borderRadius:1.5rem;